.html {

    margin: 0% 10% 0% 10%;

}

.body {
    padding: 3% 10% 0% 10%;
}

.item-img {
    width: 100px;
}

.long-desc {
    height: 90px;
}

.item-img-add {
    height: 300px;
}

.item-img-details {
    height: 370px;
}

select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(rgb(215, 215, 215));
    border-radius: 4px;
    background-color: white;
}