@media (min-width:960px) {
    .navbar {
        padding: 1rem;
        padding-top: 5rem;
        /* padding-left: 17%;
        padding-right: 17%; */
        backdrop-filter: blur(5px);
        font-family: 'Times New Roman', Times, serif;
        background-color: antiquewhite;
        margin-left: 17%;
        margin-right: 17%;
    }
}

@media (max-width:960px) {
    .navbar {
        padding: 1rem;
        padding-top: 5rem;
        /* padding-left: 17%;
        padding-right: 17%; */
        font-family: 'Times New Roman', Times, serif;
        background-color: antiquewhite;
        margin: 0px;
    }
}


.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    max-width: 150px;
    min-width: 100px;
    margin-top: -3%;
}

/* 
.nav-item {
    margin-left: 20%;
} */

.btn-nav {
    margin-left: 6%;
}


.divider {
    /* minor cosmetics */
    display: table;
    font-size: 24px;
    text-align: center;
    width: 75%;
    /* divider width */
    margin: 40px auto;
    /* spacing above/below */
}

.divider span {
    display: table-cell;
    position: relative;
}

.divider span:first-child,
.divider span:last-child {
    width: 50%;
    top: 13px;
    /* adjust vertical align */
    -moz-background-size: 100% 2px;
    /* line width */
    background-size: 100% 2px;
    /* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
    background-image: -webkit-linear-gradient(180deg, transparent, #fff);
    background-image: -moz-linear-gradient(180deg, transparent, #fff);
    background-image: -o-linear-gradient(180deg, transparent, #fff);
    background-image: linear-gradient(90deg, transparent, #fff);
}

.divider span:nth-child(2) {
    color: #fff;
    padding: 0px 50px;
    width: auto;
    white-space: nowrap;


}

.divider span:last-child {
    /* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #fff, transparent);
    background-image: -moz-linear-gradient(180deg, #fff, transparent);
    background-image: -o-linear-gradient(180deg, #fff, transparent);
    background-image: linear-gradient(90deg, #fff, transparent);
}