@media (min-width:960px) {
    .navbar {
        padding: 1rem;
        padding-top: 5rem;
        /* padding-left: 17%;
        padding-right: 17%; */
        backdrop-filter: blur(5px);
        font-family: 'Times New Roman', Times, serif;
        background-color: antiquewhite;
        margin-left: 17%;
        margin-right: 17%;
    }
}

@media (max-width:960px) {
    .navbar {
        padding: 1rem;
        padding-top: 5rem;
        /* padding-left: 17%;
        padding-right: 17%; */
        backdrop-filter: blur(5px);
        font-family: 'Times New Roman', Times, serif;
        background-color: antiquewhite;
        margin: 0px;
    }
}


.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    max-width: 150px;
    min-width: 100px;
    margin-top: -3%;
}

/* 
.nav-item {
    margin-left: 20%;
} */

.btn {
    margin-left: 6%;
}