.body_container {
    padding-left: 30%;
    padding-right: 30%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.bg {

    padding: 2% 10% 10% 10%;
    border-radius: 10px;
    background-color: antiquewhite;
}


.bday-input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.s-head {
    margin-bottom: 2%;
    font-size: 3rem;
}

.s-desc {
    margin-bottom: 2%;
    font-size: 1rem;
}

.form-button {
    margin-top: 10%;
    width: 60%;
}

select {
    width: 100%;
    padding: 10px 15px;
    border: 1px gray;
    border-radius: 4px;
    background-color: white;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: rgb(130, 130, 130);
    margin-right: 0.5em;
}